.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list .item:hover {
  background-color: var(--grayscale);
}

.list .item > * {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 5px 20px;
  min-height: 60px;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
}

.list .item span {
  word-break: keep-all;
}

/* React Transition Group */
.list .item-enter {
  opacity: 0;
}

.list .item-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.list .item-exit {
  opacity: 1;
}

.list .item-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
