.title {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  padding-bottom: 20px;
  user-select: none;
  text-transform: uppercase;
}

input.checkbox {
  display: none;
}
label.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
label.checkbox svg {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.2s ease;
}
label.checkbox svg:hover {
  color: var(--primary);
}
span.checkbox.checked {
  color: var(--disabled);
  text-decoration: line-through;
}

.button {
  font-family: inherit;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  user-select: none;
  transition: all 0.2s ease;
}
.button:not(:disabled) {
  cursor: pointer;
}
.button:not(:disabled):hover {
  color: var(--primary);
}

.input {
  font-family: inherit;
  font-size: 1rem;
  padding: 6px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: all 0.2s ease;
}
.input:focus {
  border: 1px solid var(--primary);
}
.input::placeholder {
  font-family: inherit;
}

.form {
  width: 100%;
  border: 1px solid var(--border-color);
  margin: 2%;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.form .input {
  width: 30%;
}

.navAnchor {
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;
}

.navButton {
  font-family: inherit;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
  transition: all 0.2s ease;
}

.navAnchor.active {
  color: var(--primary);
}

.navAnchor:hover,
.navButton:hover {
  color: var(--primary);
}

a {
  color: inherit;
}
