@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "NanumSquareNeo-Variable";
  --red: #c73935;
  --yellow: #e69215;
  --lightyellow: rgba(249, 162, 2, 1);
  --yellowalpha: rgba(249, 162, 2, 0.8);
  --blue: #1d415b;
  --bluealpha: rgba(29, 65, 91, 0.6);
  --grayblue: #60798c;
  --green: #1aa36d;
  --violet: #3f3d56;
  --violetalpha: rgba(63, 61, 86, 0.8);
  --light: #faf9f7;
  --dark: #181818;
  --lightgray: #ccc;
  --gray: #aaa;
  --darkgray: #555;
  --lightalpha: rgba(255, 255, 255, 0.3);
  --semialpha: rgba(0, 0, 0, 0.04);
  --darkalpha: rgba(0, 0, 0, 0.5);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NanumSquareNeo-Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
