@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-default: "NanumSquareNeo-Variable";
  --font-header: "TheJamsil5Bold";
  --primary: #1e2f97;
  --secondary: #e69215;
  --grayscale: rgba(0, 0, 0, 0.08);
  --background-color: #faf9f7;
  --sidebar-color: #faf9f7;
  --disabled: rgba(0, 0, 0, 0.5);
  --font-color: #181818;
  --font-sub-color: rgba(0, 0, 0, 0.6);
  --border-color: rgba(0, 0, 0, 0.4);
  --focus-color: #181818;
  --font-sub-size: 0.9rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-default), -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
