.Todo .list {
  animation: list-fadeIn 0.2s ease;
}

@keyframes list-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Todo .count {
  width: 100%;
  padding: 10px;
  color: var(--font-sub-color);
  font-size: var(--font-sub-size);
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.Todo .count svg {
  font-size: 1.2rem;
}
