.nav .signup,
.nav .user-email {
  margin-left: auto;
}

.nav .user-email {
  font-size: 0.8em;
}

@media only screen and (max-width: 1080px) {
  .nav .signup,
  .nav .user-email {
    margin-left: 0;
  }

  .nav .user-email,
  .nav .signin {
    margin-top: auto;
  }

  .nav .signin,
  .nav .signout {
    padding: 0;
    width: 80%;
    height: 50px;
    justify-content: center;
    border: 0;
    border-radius: 10px;
    background-color: var(--grayscale);
  }

  .nav .signin.hover,
  .nav .signin.active,
  .nav .signin.hover {
    border: 0;
    background-color: var(--primary) !important;
    color: white !important;
  }
}
