.nav .home {
  font-weight: 900;
  margin-left: 10px;
  transition: none;
}

.nav .home.active {
  color: inherit;
  border: none;
}

.nav .signup,
.nav .user-email {
  margin-left: auto;
}

.nav .user-email {
  font-size: 0.8em;
}
