.button {
  font-family: inherit;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  user-select: none;
  outline: none;
  transition: all 0.2s ease;
}

.button svg {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover {
  color: var(--secondary);
}

.button.primary:not(:disabled) {
  background-color: var(--primary);
  color: white;
}

.button.primary:not(:disabled):hover {
  background-color: var(--secondary);
  color: white;
}

.button.primary:disabled {
  background-color: var(--grayscale);
}

.button.full {
  width: 100%;
  padding: 1em 0;
}
