.button {
  font-family: inherit;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  user-select: none;
  outline: none;
  transition: all 0.2s ease;
}

.button svg {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover {
  color: var(--secondary);
}

.button.primary {
  min-width: 120px;
  min-height: calc(1rem + 2px);
  letter-spacing: 0.1em;
}

.button.primary:not(:disabled) {
  background-color: var(--primary);
  color: white;
}

.button.primary:not(:disabled):hover {
  background-color: var(--secondary);
  color: white;
}

.button.primary:disabled {
  background-color: var(--dark-alpha);
}

.button.large {
  width: 100%;
  min-height: 60px;
  padding: 1em 0;
}

.button.small {
  font-size: var(--font-sub-size);
}

.button.small svg {
  font-size: 1.2rem;
}
