.headline {
  font-family: var(--font-header);
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  user-select: none;
  text-transform: uppercase;
}

.main > .headline {
  margin-top: 2vh;
}

@media only screen and (max-width: 350px) {
  .headline {
    font-size: 2em;
  }
}
