*:has(.alert) {
  position: relative;
}

.alert {
  position: absolute;
  top: 60px;
  user-select: none;
  word-break: keep-all;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.alert svg {
  font-size: 1.8rem;
  color: var(--secondary);
}

.alert.hidden {
  visibility: hidden;
}

.alert.visible {
  visibility: visible;
}
