.alert {
  user-select: none;
  word-break: keep-all;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.alert svg {
  font-size: 1.8rem;
  color: var(--secondary);
}

.alert.hidden {
  display: none;
}

.alert.visible {
  display: inline-flex;
}
