.form {
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.form * {
  -webkit-tap-highlight-color: transparent;
}

.form input[type="password"]::-ms-reveal {
  display: none;
}

.form.default {
  background-color: var(--background-color);
}

.form.grayscale {
  background-color: var(--dark-alpha);
}

.form.outlined {
  border: 1px solid var(--border-color);
}

.form.simple {
  width: 100%;
  min-height: 4rem;
  padding: 15px;
}

.form.composite {
  width: 500px;
  min-height: 60vh;
  padding: 60px 80px;
  animation: form-slideIn 1s 1;
}

.form.composite > *:first-child {
  margin-bottom: auto;
}

.form.composite > *:last-child {
  margin-top: auto;
}

@keyframes form-slideIn {
  0% {
    transform: translateY(-15px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main:has(.form.composite) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form.row > * {
  height: 40px;
}

.form.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .form {
    width: 100% !important;
  }

  .form.composite {
    padding: 15% 10% !important;
  }
}
