.todo .item label,
.todo .item label span {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
}

/*
padding: span => input 으로 전환 시 
input 의 border 와 padding 으로 인한
요소 이동 방지
*/
.todo .item label span {
  padding: 0 10px;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 700px) {
  .todo .item {
    padding: 5px 5px;
  }
  .todo .item label.checkbox {
    flex-basis: calc(100% - 10px - 10px);
  }
  .todo .item .button {
    flex-grow: 1;
  }
}
